@import url("screen-480.css") screen and (max-width: 480px);
@import url("screen-768.css") screen and (min-width: 480px) and (max-width: 768px);
@import url("screen-1200.css") screen and (min-width: 768px);

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 15px;
}
