.col-xs-1 {
	width: calc(100% * (1 / 12));
}

.hidden-xs {
	display: none;
}

.container {
	width: 100% !important;
	margin: 0 auto;
}

.col-xs-2 {
	width: calc(100% * (2 / 12));
}

.col-xs-3 {
	width: calc(100% * (3 / 12));
}

.col-xs-4 {
	width: calc(100% * (4 / 12));
}

.col-xs-5 {
	width: calc(100% * (5 / 12));
}

.col-xs-6 {
	width: calc(100% * (6 / 12));
}

.col-xs-7 {
	width: calc(100% * (7 / 12));
}

.col-xs-8 {
	width: calc(100% * (8 / 12));
}

.col-xs-9 {
	width: calc(100% * (9 / 12));
}

.col-xs-10 {
	width: calc(100% * (10 / 12));
}

.col-xs-11 {
	width: calc(100% * (11 / 12));
}

.col-xs-12 {
	width: calc(100% * (12 / 12));
}
