@import url('480.css') screen and (min-width:0px) and (max-width:768px);
@import url('768.css') screen and (min-width:768px) and (max-width:1280px);
@import url('1280.css') screen and (min-width:1280px) and (max-width:1980px);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	min-width: 480px;
	font-size: 16px;
}

.container {
	width: 96%;
	height: 100vw;
	margin: 0 auto;
}

img {
	width: 100%;
	height: 100%;
}
.hidden {
				display: none;
			}
.header ul {
	color: #87867c;
	height: 50px;
	background-color: #343a40;
	display: flex;
	align-items: center;
}

.header ul li {
	text-align: center;
	width: 80px;
}

.header .right {
	margin-left: auto;
}

.sanjiao {
	position: relative;
	width: 130px !important;
	left: -10px;
}

.header ul li:nth-child(-n+2) {
	color: white;
}

.search {
	width: 120px !important;

}

.search input {
	width: 100%;
	height: 30px;
}

.button {
	height: 30px;
	background: #007bff;
	line-height: 30px;
	color: aliceblue;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
}

.sanjiao::after {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	right: -5px;
	top: 10px;
	border: 5px solid #87867c;
	border-color: transparent transparent #87867c;
	transform: rotate(180deg);
}

.el-carousel__item:nth-child(2n) {
	background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
	background-color: #d3dce6;
}

.swiper {
	margin-top: 10px;
}

.el-carousel__arrow {
	background-color: transparent !important;
}

.bg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('https://img0.baidu.com/it/u=1275095085,1961143463&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.swp:nth-of-type(2) div {
	background-image: url('https://img2.baidu.com/it/u=3089456875,3715235379&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500');


}

.swp:nth-of-type(3) div {
	background-image: url('https://img2.baidu.com/it/u=2218443973,3224745759&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800');
}

.txt {
	position: absolute;
	inset: 0px;
	text-align: center;
	color: white;
	font-size: 12px;
}

.txt h2 {
	position: absolute;
	left: 50%;
	bottom: 80px;
	transform: translateX(-50%);
}

.txt p {
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
}

.card {
	margin-top: 10px;
}

.card .card-item {
	border: 1px solid #dedede;
	
}

.img {
	height: 100px;
}

.card-item h4,
.card-item p {
	margin: 10px 10px;
}

.card-item .button {
	color: white;
	width: 80px;
	display: inline-block;
}

.card-item .button:nth-of-type(2) {
	color: #007bff;
	background-color: white;
}

.card .left-box {
	display: flex;
	margin-top: 10px;
	border: 1px solid #efefef;
}

.left-box .img {
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}

.left-box h4,
.left-box p {
	margin: 10px 10px;
}

.gg {
	display: flex;
}

.centen-box {

	height: 250px;
	display: flex;
	margin-top: 10px;
	flex-direction: column;
	justify-content: space-around;
}

.centen-box :not(:first-child, :last-child) {
	border-bottom: 1px solid #efefef;
}

.centen-box div {
	box-sizing: border-box;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
}

.centen-box div:last-child {
	color: white;
	background-color: #007bff;
}

.centen-box div:first-child {
	color: white;
	background-color: #007bff;
}

.list li {
	list-style-type: decimal;
	list-style-position: inside;
}

			.sz h3 {
				font-size: 0.5rem;
				font-weight: 500;
			}

			.menu {
				width: 50px;
				height: 40px;
				border: 1px solid #efefef;
				cursor: pointer;
			}

			.sangs {
				float: left;
				margin-top: 10px;
				margin-left: 4px;
			}

			.sangs div {
				pointer-events: none;
				float: left;
				top: 0;
				left: 20px;
				width: 20px;
				height: 3px;
				background-color: #343a40;
				margin-top: 3px;
				margin-left: 10px;
			}

			.el-menu-item {
				padding-left: 11px !important;

			}

			.sz p {
				font-size: 16px;
				padding: 10px;
			}

			.sz p:nth-of-type(2) {
				color: #efefef;
		}