$font-sz:200px;
div{
	font-size:300px;
}
div ul{
	font-size:300px;
}
div li{
	font-size:300px;
} 

div .cc{
	font-size:300px;
} 
div .dd{
	font-size:300px;
} 

div .ff{ 
	font-size:300px;
}
div .qq{
	font-size:300px;
}
div .vv{
	font-size:300px;
}