@import url("commons.css");

.global-wrapper{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows:8% 92%;
}

.logo{
	display: grid;
	grid-template-columns: 50px auto;
	justify-items: center;
	align-items: center;
	color: white;
	background-color: #0979cf;
}
.admin-header{
	display: grid;
	grid-template-columns: 200px;
	justify-content: end;
	background-color: #0979cf;
	
}
.ppp{
	display: grid;
	grid-template-columns: 50px auto 50px;
	justify-items: center;
	align-items: center;
}
.p1{
background-color: aliceblue;
}
.admin-nav{
	overflow-y: scroll;
	background-color: #293038;
}

.admin-main{
	background-color: black;
}
img{
	width: 100%;
	height: 100%;
}

