@import url("sj-480.css") screen and (min-width: 0px) and (max-width: 768px);
@import url("pb-768.css") screen and (min-width: 768px) and (max-width: 1290px);
@import url("./1290.css") screen and (min-width: 1290px) and (max-width: 1920px);
@import url("pc-1980.css") screen and (min-width: 1920px);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 97%;
	margin: 0 auto;
}

li {
	list-style: none;
}

.row {
	display: flex;
}

.col-1 {
	width: calc(100% * (1/12));
}

.col-2 {
	width: calc(100%*(2/12));
}

.col-3 {
	width: calc(100%*(3/12));
}

.col-4 {
	width: calc(100%*(4/12));
}

.col-5 {
	width: calc(100%*(5/12));
}

.col-6 {
	width: calc(100%*(6/12));
}

.col-7 {
	width: calc(100%*(7/12));
}

.col-8 {
	width: calc(100%*(8/12));
}

.col-9 {
	width: calc(100%*(9/12));
}

.col-10 {
	width: calc(100%*(10/12));
}

.col-11 {
	width: calc(100%*(11/12));
}

.col-12 {
	width: calc(100%*(12/12));
}
