body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6c5e1;
  font-size: 2em;
  overflow: hidden;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.house {
  width: 36rem;
  height: 24rem;
  border: 1px solid #000;
  transform: perspective(2000px) rotateX(30deg) rotateZ(0deg);
  position: relative;
}
.house .cube {
  position: absolute;
}
.house .face {
  background-color: blueviolet;
  position: absolute;
}
.house .floorMain {
  width: 30rem;
  height: 24rem;
  border: 1px solid blue;
}
.house .floorMain-front {
  width: 30rem;
  height: 0.4rem;
  transform: rotateX(90deg) translateZ(-24rem);
  transform-origin: top;
  background-color: blue !important;
}
.house .floorMain-back {
  width: 30rem;
  height: 0.4rem;
  transform: rotateX(90deg);
  transform-origin: top;
  background-color: blue;
}
.house .floorMain-left {
  width: 24rem;
  height: 0.4rem;
  transform-origin: left bottom;
  transform: rotateY(-90deg) rotateZ(90deg) translateX(-0.4rem);
  background-color: blue !important;
}
.house .floorMain-right {
  width: 24rem;
  height: 0.4rem;
  transform-origin: right bottom;
  transform: rotateY(90deg) rotateZ(-90deg) translateX(0.4rem) translateZ(6rem);
  background-color: blue !important;
  /* 30 - 24 */
}
.house .floorMain-top {
  width: 30rem;
  height: 24rem;
  transform: translateZ(0.4rem);
  background-color: blue !important;
}
.house .floorMain-bottom {
  width: 30rem;
  height: 24rem;
  background-color: blue !important;
}
.house .floorRightDown {
  right: 0;
  top: 0;
  width: 6rem;
  height: 8rem;
}
.house .floorRightDown-front {
  width: 6rem;
  height: 0.4rem;
  transform: rotateX(90deg) translateZ(-8rem);
  transform-origin: top;
  background-color: red !important;
}
.house .floorRightDown-back {
  width: 6rem;
  height: 0.4rem;
  transform: rotateX(90deg);
  transform-origin: top;
  background-color: red;
}
.house .floorRightDown-left {
  width: 8rem;
  height: 0.4rem;
  transform-origin: left bottom;
  transform: rotateY(-90deg) rotateZ(90deg) translateX(-0.4rem);
  background-color: red !important;
}
.house .floorRightDown-right {
  width: 8rem;
  height: 0.4rem;
  transform-origin: right bottom;
  transform: rotateY(90deg) rotateZ(-90deg) translateX(0.4rem) translateZ(-2rem);
  background-color: red !important;
  /* 30 - 24 */
}
.house .floorRightDown-top {
  width: 6rem;
  height: 8rem;
  transform: translateZ(0.4rem);
  background-color: red !important;
}
.house .floorRightDown-bottom {
  width: 6rem;
  height: 8rem;
  background-color: red !important;
}
.house .floorRightUp {
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 4rem;
}
.house .floorRightUp-front {
  width: 6rem;
  height: 0.4rem;
  transform: rotateX(90deg) translateZ(-4rem);
  transform-origin: top;
  background-color: yellow !important;
}
.house .floorRightUp-back {
  width: 6rem;
  height: 0.4rem;
  transform: rotateX(90deg);
  transform-origin: top;
  background-color: yellow;
}
.house .floorRightUp-left {
  width: 4rem;
  height: 0.4rem;
  transform-origin: left bottom;
  transform: rotateY(-90deg) rotateZ(90deg) translateX(-0.4rem);
  background-color: yellow !important;
}
.house .floorRightUp-right {
  width: 4rem;
  height: 0.4rem;
  transform-origin: right bottom;
  transform: rotateY(90deg) rotateZ(-90deg) translateX(0.4rem) translateZ(2rem);
  background-color: yellow !important;
  /* 30 - 24 */
}
.house .floorRightUp-top {
  width: 6rem;
  height: 4rem;
  transform: translateZ(0.4rem);
  background-color: yellow !important;
}
.house .floorRightUp-bottom {
  width: 6rem;
  height: 4rem;
  background-color: yellow !important;
}
.house .floorGlass {
  right: 0;
  top: 8rem;
  width: 6rem;
  height: 12rem;
}
.house .floorGlass-front {
  width: 6rem;
  height: 1rem;
  transform: rotateX(90deg) translateZ(-12rem);
  transform-origin: top;
  background-color: red !important;
}
.house .floorGlass-back {
  width: 6rem;
  height: 1rem;
  transform: rotateX(90deg);
  transform-origin: top;
  background-color: red;
}
.house .floorGlass-left {
  width: 12rem;
  height: 1rem;
  transform-origin: left bottom;
  transform: rotateY(-90deg) rotateZ(90deg) translateX(-1rem);
  background-color: red !important;
}
.house .floorGlass-right {
  width: 12rem;
  height: 1rem;
  transform-origin: right bottom;
  transform: rotateY(90deg) rotateZ(-90deg) translateX(1rem) translateZ(-6rem);
  background-color: red !important;
  /* 30 - 24 */
}
.house .floorGlass-top {
  width: 6rem;
  height: 12rem;
  transform: translateZ(1rem);
  background-color: red !important;
}
.house .floorGlass-bottom {
  width: 6rem;
  height: 12rem;
  background-color: red !important;
}
