body{
	background: url(../img/0a13188055e512295cf90d5cf1c7614c.jpg);
	background-attachment: fixed;
	background-size: 100% auto;	
}
.wc{
	border: 1px solid #FFFFFF;
	overflow: hidden;
}
.wc li{
	color: #FFFFFF;
	text-align: center;
	float: left;
	width: 370px;
	height: 350px;
	margin: 5px 14px;
}
.to{
	
}
h1{
	position: relative;
	
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	margin-bottom: 30px;
	letter-spacing: 10px;
}
h2{
	margin-bottom: 5px;
}
